:root {
    --brand-color: #4D5AE5;
    --background-color: #FFFFFF;
    --default-header-color: #2e2f42;
    --default-footer-color: #f4f4fd;
    --default-buttons-text: #4d5ae5;
    --default-buttons-background: #f4f4fd;
    --link-hover: #404bbf;
    --text-color: #434455;
}

.body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(#FFFFFF);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color)
}

.first-header {
    background-color: var(--default-header-color);
}

.first-header-main {
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.main-button {
    background-color: var(--brand-color); 
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}

.main-button:hover, main-button:focus {
    background-color: var(--link-hover)
}

.main-button:focus {
    {
            cursor: pointer;
        }

}
.list-point {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--default-header-color);
}

.main-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.what-are-we {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--default-header-color);
}

.section-four {
    background-color: var(--default-footer-color);
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--default-header-color);
}

.team-view {
    background-color: var(--background-color);
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;

}
.span {
    color: var(--default-buttons-background);
}

.list {
    list-style: none;
}

.main-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--default-header-color);
}

.main-studio:hover, main-studio:focus {
     color: var(--link-hover);
}

.address {
  font-style: normal;
}

.mail-to {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mail-to:hover, mail-to:focus {
    color: var(--link-hover);
}

.tel-to {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455;
}

.tel-to:hover,mail-to:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}
.filter-button {
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--default-buttons-text);
    background-color: var(--default-footer-color);
}

.filter-button:hover {
    background-color: #404bbf;
    color: var(--background-color);
    cursor: pointer;
}

.filter-button:focus, {
   background-color: #404bbf;
   color: var(--background-color);
}

.filter-button:focus 
        {
        cursor: pointer;
    }

.portfolio-images-dsc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--default-header-color);
}

.portfolio-images-additional-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}
.footer {
    background-color: var(--default-header-color);
}

.footer-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--default-buttons-background)
}